python-dotenv
dotenv
sqlalchemy
pydantic
langchain
langchain-core
langchain-community
langchain-text-splitters
sentence-transformers
chromadb
langchain_google_genai
langgraph
streamlit
plotly
pandas
numpy
beautifulsoup4
requests
psycopg2-binary
langchain-huggingface
