python-dotenv
dotenv
sqlalchemy
pydantic
langchain
langchain-core
langchain-community
langchain-text-splitters
sentence-transformers
chromadb>=0.4.0
langchain_google_genai
langgraph
streamlit
plotly
pandas
numpy
beautifulsoup4
requests
psycopg2-binary
langchain-huggingface
pysqlite3-binary 
langchain-chroma>=0.1.2